apiVersion: v1
kind: Pod
metadata:
  name: azurefile-demo
  namespace: default
spec:
  containers:
    - name: app
      image: busybox:1.36
      command: ["/bin/sh", "-c", "sleep 3600"]
      volumeMounts:
        - name: data
          mountPath: /data
  volumes:
    - name: data
      persistentVolumeClaim:
        claimName: azurefile-demo
