apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: azurefile-demo
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: private-azurefile-custom
